<div class="container billing-main">
        <div class="row main-bottom">
            <div class="col-lg-offset-3 col-md-12 reg">
                <h1 class="form">Registration &amp; Billing Form</h1></div>
            <div class="col-lg-offset-3 col-md-12">


<form action="thanks.htm" name="contact" method="post" class="form" onsubmit="return validateForm( );">

 <table>
  
    <tr>
    <td>First Name</td>
    <td><input type="text" size="25" value="" name="fname" maxlength="15"/></td>
    </tr>
    </tr>

    <td>Last Name</td>
    <td><input type="text" size="25" value="" name="lname" maxlength="15"/></td>
    </tr>

    <td>Address</td>
    <td><input type="text" size="25" value="" name="address" maxlength="15"/></td>
    </tr>

    <td>Phone</td>
    <td><input type="text" size="25" value="" name="phone" maxlength="15"/></td>
    </tr>
    <tr>
    <td>Credit Card fields</td>
    <td><input type="text" size="25" value="" name="ccard" maxlength="15"/></td>
    </tr>

    <td>Rental time/length</td>
    <td><select name="rental">  
        <option selected="selected">Select One:</option>
        <option value="1 month">1 month:</option>  
        <option value="2 month">2 months</option>  
        <option value="3 month">3 months</option>  
        <option value="4 month">4 months</option> 
        <option value="5 month">5 months</option>       
    </select> 
    </td> 

    <tr>
    <td>Comments</td>
    <td><input type="text" size="25" value="" name="comments" maxlength="15"/></td>
    </tr>
    
    <tr>
    <td>Term of use confirmation</td>
    <td><input type="checkbox" name="Yes" value="Yes" /> Yes <input type="checkbox" name="No" value="No" /> No</tr>
    
    <tr>
    <td>Comments</td>
    <td><textarea rows="10" cols="20" value="" name="comments"></textarea>
    </td>
    </tr>
    
    <tr>
    <td colspan="4"align="right" class="button">
    <input type="submit" value="Submit Form"/><input type="reset" value="Reset" />
    </td>
    </tr>
  </table>
</form>

            </div>
        </div>
    </div>