 <div class="main-syfy">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-md-6">
                <h3><strong>SyFy</strong> </h3></div>
        </div>
      <div class="row">
        <div class=" col-lg-offset-1 col-md-2">
          <div class="thumbnail-game" ng-init="imgsrcOne='img/syfy/thor.jpg'" ng-mouseover="imgsrcOne='img/syfy/xmen.jpg'" ng-mouseout="imgsrcOne='img/syfy/thor.jpg'"><!-- angular element-->
            <img ng-src="{{imgsrcOne}}"/>
          </div>
          <div class="gamebuttons">
                    <input type="button" value=" More-Info"/> <input type="button" value="  Rent-It  "/>
                </div>
        </div>
        <div class=" col-md-2">
          <div class="thumbnail-game" ng-init="imgsrcTwo='img/syfy/startrek3.jpg'" ng-mouseover="imgsrcTwo='img/syfy/starocean.png'"ng-mouseout="imgsrcTwo='img/syfy/startrek3.jpg'"><!-- angular element-->
            <img ng-src="{{imgsrcTwo}}"/>
          </div>
          <div class="gamebuttons">
                    <input type="button" value=" More-Info"/> <input type="button" value="  Rent-It  "/>
                </div>
        </div>
          <div class=" col-md-2">
          <div class="thumbnail-game" ng-init="imgsrcThree='img/syfy/transform.jpg'" ng-mouseover="imgsrcThree='img/syfy/lostplanet.jpg'" ng-mouseout="imgsrcThree='img/syfy/transform.jpg'"> <!-- angular element-->
            <img ng-src="{{imgsrcThree}}"/>
          </div>
          <div class="gamebuttons">
                    <input type="button" value=" More-Info"/> <input type="button" value="  Rent-It  "/>
                </div>
        </div>
           <div class=" col-md-2">
          <div class="thumbnail-game"ng-init="imgsrcFour='img/syfy/starwars2.jpg'" ng-mouseover="imgsrcFour='img/syfy/starwars.jpg'" ng-mouseout="imgsrcFour='img/syfy/starwars2.jpg'"> <!-- angular element-->
            <img ng-src="{{imgsrcFour}}"/>
          </div>
          <div class="gamebuttons">
                    <input type="button" value=" More-Info"/> <input type="button" value="  Rent-It  "/>
                </div>
        </div>
        <div class=" col-md-2">
          <div class="thumbnail-game"ng-init="imgsrcFive='img/syfy/mvc.jpg'" ng-mouseover="imgsrcFive='img/syfy/xmen.jpg'" ng-mouseout="imgsrcFive='img/syfy/mvc.jpg'"> <!-- angular element-->
            <img ng-src="{{imgsrcFive}}"/>
          </div>
          <div class="gamebuttons">
                    <input type="button" value=" More-Info"/> <input type="button" value="  Rent-It  "/>
                </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-rpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-md-10">
                <h3><strong>RPG</strong> </h3></div>
        </div>
      <div class="row">
        <div class=" col-lg-offset-1 col-md-2">
          <div class="thumbnail-game" ng-init="imgsrcSix='img/rpg/rpg7.jpg'" ng-mouseover="imgsrcSix='img/rpg/rpg5.png'" ng-mouseout="imgsrcSix='img/rpg/rpg7.jpg'"><!-- angular element-->
            <img ng-src="{{imgsrcSix}}"/>
          </div>
          <div class="gamebuttons">
                    <input type="button" value=" More-Info"/> <input type="button" value="  Rent-It  "/>
                </div>
        </div>
        <div class=" col-md-2">
          <div class="thumbnail-game" ng-init="imgsrcSeven='img/rpg/rpg3.jpg'" ng-mouseover="imgsrcSeven='img/rpg/rpg5.png'" 
          ng-mouseout="imgsrcSeven='img/rpg/rpg3.jpg'"><!-- angular element-->
            <img ng-src="{{imgsrcSeven}}"/>
          </div>
          <div class="gamebuttons">
                    <input type="button" value=" More-Info"/> <input type="button" value="  Rent-It  "/>
                </div>
        </div>
          <div class=" col-md-2">
          <div class="thumbnail-game" ng-init="imgsrcEight='img/rpg/rpg8.jpg'" ng-mouseover="imgsrcEight='img/rpg/cod.jpg'" 
          ng-mouseout="imgsrcEight='img/rpg/rpg8.jpg'"> <!-- angular element-->
            <img ng-src="{{imgsrcEight}}"/>
          </div>
          <div class="gamebuttons">
                    <input type="button" value=" More-Info"/> <input type="button" value="  Rent-It  "/>
                </div>
        </div>
           <div class=" col-md-2">
          <div class="thumbnail-game"ng-init="imgsrcNine='img/rpg/rpg2.jpg'" ng-mouseover="imgsrcNine='img/rpg/rpg4.png'" 
          ng-mouseout="imgsrcNine='img/rpg/rpg2.jpg'"> <!-- angular element-->
            <img ng-src="{{imgsrcNine}}"/>
          </div>
          <div class="gamebuttons">
                    <input type="button" value=" More-Info"/> <input type="button" value="  Rent-It  "/>
                </div>
        </div>
        <div class=" col-md-2">
          <div class="thumbnail-game"ng-init="imgsrcTen='img/rpg/rpg.jpg'" ng-mouseover="imgsrcTen='img/rpg/rpg5.jpg'" ng-mouseout="imgsrcTen='img/rpg/rpg.jpg'"> <!-- angular element-->
            <img ng-src="{{imgsrcTen}}"/>
          </div>
          <div class="gamebuttons">
                    <input type="button" value=" More-Info"/> <input type="button" value="  Rent-It  "/>
                </div>
        </div>
      </div>
    </div>
  </div>